<div class="container">
    <div class="card">
<%= simple_form_for(@post,
  html: { class: 'form-horizontal well' }
  ) do |f| %>
  <%= f.error_notification %>

      <div class="card-header">
      <%= form_legend %>
      </div>

    <div class="card-body">
      <%= f.input :subject
       %>
      <%= f.input :message
       %>
      <%= f.association :category
       %>

      <%= f.button :submit, class: 'btn btn-primary' %>
      <%= cancel_button %>
    </div>
<% end %>
  </div>
</div>
