<div class="container">
<%= simple_form_for([wobauth, @group],
  html: { data: { turbo: false },
          class: 'form-horizontal card' }) do |f| %>

  <div class="card-header">
    <%= form_legend %>
  </div>

  <div class="card-body">
    <%= f.input :name
     %>
    <%= f.input :description
     %>

    <%= f.button :submit, class: 'btn btn-primary' %>
    <%= cancel_button %>
    </div>
  </div>
<% end %>
</div>
