<h2><%= t('attributes.group')%>: <%= @group.name %></h2>
<p><%= t('attributes.description')%>: <%= @group.description %></p>

<div class="btn-toolbar" role="toolbar">
  <%= back_link %>
  <%= edit_link(@group) %>
  <%= delete_link(@group) %>
  <%= new_link Wobauth::Group %>
</div>

<h3><%= t('controller.wobauth/authorities') %></h3>

<div id="group_roles">
  <%= render partial: 'group_roles', locals: {group: @group} %>
</div>

<%= new_link(Wobauth::Authority, group_id: @group.to_param) %>

<h3><%= t('controller.wobauth/groups') %></h3>

<div id="group_memberships">
  <%= render partial: 'group_memberships', locals: {group: @group} %>
</div>

<%= new_link(Wobauth::Membership, group_id: @group.to_param) %>

