<div class="card">
  <div class="card-header">
    <h4><%= t('attributes.group')%>: <%= @group.name %></h4>
  </div>
  <div class="card-body">
    <div class="card-text">
      <%= t('attributes.description')%>: <%= @group.description %></p>
    </div>

    <div role="toolbar">
      <%= back_link %>
      <%= edit_link([wobauth, @group]) %>
      <%= delete_button([wobauth, @group]) %>
      <%= new_link [wobauth, Wobauth::Group] %>
    </div>
  </div>
</div>

<br />

<div class="card">
  <div class="card-header">
    <h4><%= t('controller.wobauth/authorities') %></h4>
  </div>
  <div class="card-body">
    <div id="group_roles">
      <%= render partial: 'group_roles', locals: {group: @group} %>
    </div>
    <%= new_link([wobauth, @group, Wobauth::Authority], group_id: @group.to_param) %>
  </div>
</div>

<br />

<div class="card">
  <div class="card-header">
    <h4><%= t('controller.wobauth/users') %></h4>
  </div>
  <div class="card-body">
    <div id="group_memberships">
      <%= render partial: 'group_memberships', locals: {group: @group} %>
    </div>
    <%= new_link([wobauth, @group, Wobauth::Membership], group_id: @group.to_param) %>
  </div>
</div>
