<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dummy App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="<%= (main_app||self).root_path %>">Dummy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">  
      <%= render partial: 'shared/navi' %>
      <%= render partial: 'wobauth/shared/admin' %>
      <%= render partial: 'wobauth/shared/accounting' %>
    </div>
  </nav>

  <main class="container" role="main">
    <% unless controller.action_name =~ /(new|edit)/ %>
      <%= render_breadcrumbs %>
    <% end %>
    <%= show_flash %>
    <%= yield %>
  </main>

  <div id="footer" class="container">
    <div class="row">
      <div class="col-sm-6 col-md-8">
        <%= render :partial => 'shared/footer' %>
      </div>
      <div class="col-sm-6 col-md-4">
        <%= render :partial => 'shared/version' %>
      </div>
    </div>
  </div>

</body>
</html>
