<%= simple_form_for(@authority,
  html: { class: 'form-horizontal well' },
  wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  }) do |f| %>

  <fieldset>
    <%= form_legend %>

    <div class="form-inputs">
      <%= polymorphic_selector(f, 'authorizable', Wobauth.authorizable_types) %>
      <%= f.association :role %>
      <%= polymorphic_selector(f, 'authorized_for', Wobauth.authorized_for_types) %>

      <%= f.input :valid_from, as: :string, class: 'datepicker'
       %>
      <%= f.input :valid_until, as: :string, class: 'datepicker'
       %>
    </div>

    <div class="form-actions col-sm-9 col-sm-offset-3">
      <%= f.button :submit, class: 'btn btn-primary' %>
      <%= cancel_button %>
    </div>
  </fieldset>
<% end %>

<%= javascript_include_tag "wobauth/authorities" %>
