<div class="container">
<%= simple_form_for([wobauth, @authorizable, @authority],
  html: { class: 'form-horizontal card' }
  ) do |form| %>

  <div class="card-header">
    <%= form_legend %>
  </div>

  <div class="card-body">
    <% if @authorizable.nil? %>
    <%= render Wobauth::PolymorphicSelectorComponent.new(
                 form: form,
                 poly: 'authorizable',
                 models: Wobauth.authorizable_types,
                 disabled: @authorizable.present?
               )
     %>
    <% end %>

    <%= form.association :role %>

    <%= render Wobauth::PolymorphicSelectorComponent.new(
                 form: form,
                 poly: 'authorized_for',
                 models: Wobauth.authorized_for_types
               )
     %>

    <%= form.input :valid_from, html5: true,
                input_html: { class: 'col-sm-4' }
     %>
    <%= form.input :valid_until, html5: true
     %>

    <%= form.button :submit, class: 'btn btn-primary' %>
    <%= cancel_button %>
  </div>
<% end %>
</div>
