<div class="card">
  <div class="card-header">
    <h4><%= t('activerecord.models.wobauth/authority') %></h4>
  </div>
  <div class="card-body">
    <table class="table table-sm table-borderless">
      <tr>
	<th class="w-25 text-end"><%= t('attributes.authorizable')%>:</th>
	<td><%= @authority.authorizable %></td>
      </tr>
      <tr>
	<th class="w-25 text-end"><%= t('attributes.authorizable_type')%>:</th>
	<td><%= @authority.authorizable_type %></td>
      </tr>
      <tr>
	<th class="w-25 text-end"><%= t('attributes.role')%>:</th>
	<td><%= @authority.role %></td>
      </tr>
      <tr>
	<th class="w-25 text-end"><%= t('attributes.authorized_for')%>:</th>
	<td><%= @authority.authorized_for %></td>
      </tr>
      <tr>
	<th class="w-25 text-end"><%= t('attributes.authorized_for_type')%>:</th>
	<td><%= @authority.authorized_for_type %></td>
      </tr>
      <tr>
	<th class="w-25 text-end"><%= t('attributes.valid_from')%>:</th>
	<td><%= @authority.valid_from %></td>
      </tr>
      <tr>
	<th class="w-25 text-end"><%= t('attributes.valid_until')%>:</th>
	<td><%= @authority.valid_until %></td>
      </tr>
    </table>
    <div role="toolbar">
      <%= back_link %>
      <%= edit_link([wobauth, @authority]) %>
      <%= delete_link([wobauth, @authority]) %>
      <%= new_link [wobauth, Wobauth::Authority] %>
    </div>
  </div>
</div>


