<div class="container">
  <div class="card">
<%= simple_form_for(@category,
  html: { class: 'form-horizontal well' }
  ) do |f| %>
  <%= f.error_notification %>

    <div class="card-header">
      <%= form_legend %>
    </div>

    <div class="card-body">
      <%= f.input :name
       %>

      <%= f.button :submit, class: 'btn btn-primary' %>
      <%= cancel_button %>
    </div>
  </div>
<% end %>
</div>
