<ul class="navbar-nav">
  <% if user_signed_in? %>
    <li class="nav-item dropdown">
      <a href="#" class="nav-link dropdown-toggle" role="button" id="accountNavDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	Account
      </a>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="accountNavDropdown">
        <%= button_to(wobauth.destroy_user_session_path,
                      method: :delete,
                      target: '_top',
                      class: 'dropdown-item'

            ) do %>
          <i class="fas fa-sign-out-alt"></i> Logout
        <% end %>
        <% if Wobauth::User.devise_modules.include?(:registerable) %>
          <div class="dropdown-divider"></div>
          <%= link_to(wobauth.edit_user_registration_path, class: "dropdown-item") do %>
            <i class="fas fa-user"></i> My Profile
          <% end %>
        <% end %>
      </div>
    </li>
  <% elsif Wobauth.remote_authentication? %>
    <li class="nav-item dropdown">
      <a href="#" class="nav-link dropdown-toggle" role="button" id="accountNavDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	Login
      </a>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="accountNavDropdown">
        <%= link_to "SingleSignOn", wobauth.login_path, class: "dropdown-item" -%>
        <%= link_to(wobauth.new_user_session_path, class: "dropdown-item") do -%>
          Login-Formular
        <% end %>
      </div>
    </li>
  <% else %>
    <li class="nav-item">
      <%= link_to(wobauth.new_user_session_path, class: "nav-link") do -%>
        <i class="fas fa-sign-in-alt"></i> Login
      <% end %>
    </li>
  <% end %>
</ul>
