<%= render 'wobauth/shared/turbo-cache-control' %>

<h1><%= t('controller.wobauth/users') %></h1>

<div data-controller="datatables">
  <%= content_tag :table, id: :wobauth_users,
      class: "table table-bordered table-striped" do %>
  <thead>
    <tr>
      <th><%= t('attributes.name') %></th>
      <th class="notvisible"><%= t('attributes.sn') %></th>
      <th class="notvisible"><%= t('attributes.givenname') %></th>
      <th class="notvisible"><%= t('attributes.title') %></th>
      <th><%= t('attributes.username') %></th>
      <th><%= t('attributes.telephone') %></th>
      <th><%= t('attributes.email') %></th>
      <th class="notvisible"><%= t('attributes.position') %></th>
      <th class="notvisible"><%= t('attributes.department') %></th>
      <th class="notvisible"><%= t('attributes.company') %></th>
      <th><%= t('attributes.current_sign_in_at') %></th>
      <th class="notvisible"><%= t('attributes.sign_in_count') %></th>
      <th class="nosort"><%= t('wobauth.action')%></th>
    </tr>
  </thead>
  <tfoot class="search">
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th class="nosearch"></th>
    </tr>
  </tfoot>
  <tbody>

  <% @users.each do |user| %>
    <%= content_tag(:tr, id: dom_id(user), class: dom_class(user)) do %>
      <td><%= user %></td>
      <td><%= user.sn %></td>
      <td><%= user.givenname %></td>
      <td><%= user.title %></td>
      <td><%= user.username %></td>
      <td><%= user.telephone %></td>
      <td><%= user.email %></td>
      <td><%= user.position %></td>
      <td><%= user.department %></td>
      <td><%= user.company %></td>
      <td><%= user.current_sign_in_at.try(:to_date) %></td>
      <td><%= user.sign_in_count %></td>
      <td class="nowrap">
        <%= show_link [wobauth, user] %>
        <%= edit_link [wobauth, user] %>
        <%= delete_button [wobauth, user] %>
      </td>
    <% end %>
  <% end %>
  </tbody>
  <% end %>
</div>

<br />

<%= back_link %>
<%= new_link [wobauth, Wobauth::User] %>
<%= link_to(t('wobauth.new_user_from_ad'), wobauth.ad_users_path, class: 'btn btn-secondary') if can? :create, Wobauth::User %>
