<%= render 'wobauth/shared/turbo-cache-control' %>

<div class="card">
  <div class="card-header">
    <h4><%= t('attributes.user') %>: <%= @user.username %></h4>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
	<table class="table table-bordered table-hover autowidth">
	  <tr>
	    <th><%= t('attributes.username')%>:</th>
	    <td><%= @user.username %></td>
	  </tr>
	  <tr>
	    <th><%= t('attributes.name')%>:</th>
	    <td><%= @user %></td>
	  </tr>
	  <tr>
	    <th><%= t('attributes.sn')%>:</th>
	    <td><%= @user.sn %></td>
	  </tr>
	  <tr>
	    <th><%= t('attributes.givenname')%>:</th>
	    <td><%= @user.givenname %></td>
	  </tr>
	  <tr>
	    <th><%= t('attributes.title')%>:</th>
	    <td><%= @user.title %></td>
	  </tr>
	  <tr>
	    <th><%= t('attributes.displayname')%>:</th>
	    <td><%= @user.displayname %></td>
	  </tr>
	  <tr>
	    <th><%= t('attributes.telephone')%>:</th>
	    <td><%= @user.telephone %></td>
	  </tr>
	  <tr>
	    <th><%= t('attributes.email')%>:</th>
	    <td><%= @user.email %></td>
	  </tr>
	  <tr>
	    <th><%= t('attributes.position')%>:</th>
	    <td><%= @user.position %></td>
	  </tr>
	  <tr>
	    <th><%= t('attributes.department')%>:</th>
	    <td><%= @user.department %></td>
	  </tr>
	  <tr>
	    <th><%= t('attributes.company')%>:</th>
	    <td><%= @user.company %></td>
	  </tr>
	</table>
      </div>  
      <div class="col-sm-6">
	<table class="table table-bordered table-hover autowidth">
	  <tr>
	    <th><%= t('attributes.userprincipalname')%>:</th>
	    <td><%= @user.userprincipalname %></td>
	  </tr>
	  <tr>
	    <th><%= t('attributes.active_directory_guid')%>:</th>
	    <td><%= @user.active_directory_guid %></td>
	  </tr>
	  <tr>
	    <th><%= t('attributes.current_sign_in_at')%>:</th>
	    <td><%= @user.current_sign_in_at %></td>
	  </tr>
	  <tr>
	    <th><%= t('attributes.current_sign_in_ip')%>:</th>
	    <td><%= @user.current_sign_in_ip %></td>
	  </tr>
	  <tr>
	    <th><%= t('attributes.last_sign_in_at')%>:</th>
	    <td><%= @user.last_sign_in_at %></td>
	  </tr>
	  <tr>
	    <th><%= t('attributes.last_sign_in_ip')%>:</th>
	    <td><%= @user.last_sign_in_ip %></td>
	  </tr>
	  <tr>
	    <th><%= t('attributes.sign_in_count')%>:</th>
	    <td><%= @user.sign_in_count %></td>
	  </tr>
	  <tr>
	    <th><%= t('attributes.gruppen')%>:</th>
	    <td colspan="3"><%= @user.gruppen %></td>
	  </tr>
	</table>
      </div>  
    </div>
    <div role="toolbar">
      <%= back_link %>
      <%= edit_link([wobauth, @user]) %>
      <%= delete_button([wobauth, @user]) %>
      <%= new_link [wobauth, Wobauth::User] %>
      <%= link_to(t('wobauth.new_user_from_ad'), wobauth.ad_users_path, class: 'btn btn-secondary') if can? :create, Wobauth::User %>
    </div>

  </div>
</div>

<br/>

<div class="card">
  <div class="card-header">
    <h4><%= t('controller.wobauth/authorities') %></h4>
  </div>
  <div class="card-body">
    <div id="user_roles">
      <%= render partial: 'user_roles', locals: {user: @user} %>
    </div>
    <%= new_link([wobauth, @user, Wobauth::Authority]) %>
  </div>
</div>

<br/>

<div class="card">
  <div class="card-header">
    <h4><%= t('controller.wobauth/groups') %></h4>
  </div>
  <div class="card-body">
    <div id="user_groups">
      <%= render partial: 'user_groups', locals: {user: @user} %>
    </div>
    <%= new_link([wobauth, @user, Wobauth::Membership]) %>
  </div>
</div>

