<div class="container">
<%= simple_form_for([@membershipable, @membership],
  html: { class: 'form-horizontal card' }
  ) do |f| %>

  <div class="card-header">
    <%= form_legend %>
  </div>

  <div class="card-body">
    <%= f.association :user
     %>
    <%= f.association :group
     %>

    <%= f.button :submit, class: 'btn btn-primary' %>
    <%= cancel_button %>
  </div>
<% end %>
</div>
