<h1><%= t('controller.wobauth/memberships') %></h1>

<div data-controller="datatables">
  <%= content_tag :table, id: :wobauth_memberships,
      class: "table table-bordered table-striped" do %>
  <thead>
    <tr>
      <th><%= t('attributes.user') %></th>
      <th><%= t('attributes.group') %></th>
      <th><%= t('attributes.auto') %></th>
      <th class="nosort"><%= t('wobauth.action') %></th>
    </tr>
  </thead>
  <tfoot class="search">
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th class="nosearch"></th>
    </tr>
  </tfoot>
  <tbody>

  <% @memberships.each do |membership| %>
    <%= content_tag(:tr, id: dom_id(membership), class: dom_class(membership)) do %>
      <td><%= membership.user %></td>
      <td><%= membership.group %></td>
      <td><%= membership.auto %></td>
      <td class="nowrap">
        <%= show_link [wobauth, membership] %>
        <%= edit_link [wobauth, membership] %>
        <%= delete_button [wobauth, membership] %>
      </td>
    <% end %>
  <% end %>
  </tbody>
  <% end %>
</div>

<br />

<%= back_link %>
<%= new_link [wobauth, Wobauth::Membership] %>
