<div class="card">
  <div class="card-header">
    <h4><%= t('attributes.membership') %></h4>
  </div>
  <div class="card-body">
    <table class="table table-sm table-borderless ">
      <tr>
	<th class="w-25 text-end"><%= t('attributes.user')%>:</th>
	<td><%= @membership.user %></td>
      </tr>
      <tr>
	<th class="w-25 text-end"><%= t('attributes.group')%>:</th>
	<td><%= @membership.group %></td>
      </tr>
      <tr>
	<th class="w-25 text-end"><%= t('attributes.auto')%>:</th>
	<td><%= @membership.auto %></td>
      </tr>
    </table>

    <div role="toolbar">
      <%= back_link %>
      <%= edit_link([wobauth, @membership]) %>
      <%= delete_button([wobauth, @membership]) %>
      <%= new_link [wobauth, Wobauth::Membership] %>
    </div>
  </div>
</div>
