<h1><%= t('controller.categories') %></h1>

<table id="categories_table" class="table table-bordered table-striped table-responsive-lg" role="datatable">
<thead>
  <tr>
    <th><%= t('attributes.name') %></th>
    <th></th>
  </tr>
</thead>
<tbody>

<% @categories.each do |category| %>
  <%= content_tag_for(:tr, category) do %>
    <td><%= category.name %></td>
    <td class="nowrap">
      <%= show_link category %>
      <%= edit_link category %>
      <%= delete_link category %>
    </td>
  <% end %>
<% end %>
</tbody>
</table>

<br />

<%= back_link %>
<%= new_link Category %>
